<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
        <meta name="renderer" content="webkit">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
        <meta name="keywords" content="{% block keywords %}前端技术 webpack php symfony jquery{% endblock %}">
        <meta name="description" content="{% block description %}田胜杰的个人博客-记录技术-分享生活{% endblock %}">
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                个人博客-记录技术-分享生活 
            {% endblock %}
        </title>
        {% do script(['main.js']) %}
        {% do css(['main.css']) %}
        {% include 'webpack-load/load-css.html.twig' %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        {% include 'webpack-load/load-js.html.twig' %}
    </body>
</html>
