{% extends 'layout.html.twig' %}
{% import "macro.html.twig" as macroTool %}
{% block title %}
    个人博客-首页
{% endblock %}

{% block body %}

    <div class="alert alert-danger text-center" role="alert">
    This is a danger alert—check it out!
    </div>

    <div class="alert alert-success text-center" role="alert">
    This is a success alert—check it out!
    </div>

{% endblock %}