{% extends 'layout.html.twig' %}
{% do script(['dist/index/index.js']) %}
{% do css(['dist/index/index.css']) %}
{% import "macro.html.twig" as macroTool %}
{% block title %}
    个人博客-首页
{% endblock %}

{% block body %}
    {% include 'default/header.html.twig' %}
    <div class="main container">
        <div class="col-12">
            <div class="article-list">
                {% for article in articles %}
                    <div class="item">
                        <div class="title text-overflow">
                            <a href="{{ path('article_detail', {id: article.id}) }}">{{ article.title }}</a>
                        </div>
                        <div class="summary">
                            {{ article.content|filter_html|substr(150) }}
                        </div>
                        <div class="meta">
                            <span><i class="iconfont blog-time"></i>{{ article.create_time|date('Y年m月d日 H:i') }}</span>
                            <span><i class="iconfont blog-view text-md"></i>3123</span>
                            {# <span>喜欢数</span> #}
                        </div>
                    </div>
                {% endfor %}
            </div>        

        </div>
        {# <div class="col-3">
            <div class="music">
            
            </div>
            <div class="motto">
            
            </div>
            <div class="recommand">
            
            </div>
        </div> #}
    </div>
{% endblock %}