{% extends 'layout.html.twig' %}
{% import "macro.html.twig" as macroTool %}
{% do css(['libs/editor.md/css/editormd.min.css', 'dist/article/create/index.css']) %}
{% do script(['libs/editor.md/editormd.min.js', 'dist/article/create/index.js']) %}
{% block title %}
    标题-首页
{% endblock %}

{% block body %}
    {% include 'default/header.html.twig' %}
    <div class="article-create">
        <form action="{{ path('article_create') }}" id="article">
            <div class="form-group">
                <input name="title" id="title" class="title" placeholder="标题" value="">
            </div>
            <div id="content">
                <textarea class="editormd" name="content_md" style="display:none;"></textarea>
            </div>
            <input name="id" type="hidden" id="article-id" value="">
            <button type="submit" >
                提交
            </button>
        </form>
    </div>
{% endblock %}