{% extends 'layout.html.twig' %}
{% import "macro.html.twig" as macroTool %}
{% do css(['libs/editor.md/css/editormd.min.css', 'dist/article/create/index.css']) %}
{% do script(['libs/editor.md/editormd.min.js', 'dist/article/create/index.js']) %}
{% block title %}
    标题-首页
{% endblock %}

{% block body %}
    {% include 'default/header.html.twig' %}
    <div class="article-create">
        <from action="{{ path('article_create') }}" method="POST">
            <div class="form-group">
                <input name="title" class="title" placeholder="标题">
            </div>
            <div id="editormd">
                <textarea id="editormd" class="editormd" name="content" style="display:none;"></textarea>
            </div>
        </from>
    </div>
{% endblock %}